// badge detail style
.category-div {
  display: inline-block;
  vertical-align: top;
  // width: 20%;
  position: absolute;
  .category-name {
    // transform: rotate(-90deg);
    // transform-origin: right top 0;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    top:0;
    width:20px;
    height:20px;
  }
}

.detail-body {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  padding-left: 30px;
}

// badge detail style end
