@import "bourbon";

// badge detail style
.badge-detail-page-tile {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
}

.category-div {
  position: absolute;
  bottom: -68px;
  left: 0;
  background-color: $badger-white;
  text-align: center;

  @include transform(rotate(270deg));
  @include transform-origin(0 0);
}

.detail-body {
  padding: 0;
  margin: 0;
  // word-wrap: break-word;
}
// badge detail style end
