.badge-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tag {
  color: $badger-black;
}

.badge-list-item {
  margin: 0;
}

.list-image {
  height: auto;
  width: auto;
  max-width: 75px;
  max-height: 75px;
}

.badge-list-details {
  margin-left: 5px;
}

.standard-search-content {
  margin-bottom: 8px;
  // margin-top: 5px;
}

.standard-search-individual-keywords:not(:first-child) {
  margin-left: 10px;
}

.standard-search-block-keywords {
  margin-bottom: 15px;
  display: flex;
}

.standard-search-individual-names {
  padding-left: 8px;
  // margin: 5px;
}

.standard-search-describer {
  // padding-left: 8px;
}
