//Base styles
.hover-hand {
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

body {
  width: 100vw;
  padding: 5vh 7.5vw;
  margin: 0;
  background-color: #e1e5ed;
}

#intro-image {
  max-width: 200px;
  @media screen and (min-width: $break-medium) {
    max-width: 300px;
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

#root {
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
