//Base styles
.hover-hand {
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

body {
  padding: 10vw;
  background-color: #e1e5ed;
  @media only screen and (min-width: 600px) {
      /* For tablets: */
      ;
  }
  @media only screen and (min-width: 768px) {
      /* For desktop: */
      ;
  }
}
