@keyframes wiggle {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(1deg); }
   50% { transform: rotate(-1deg); }
   100% { transform: rotate(0deg); }
  //  85% { transform: rotate(4deg); }
  //  95% { transform: rotate(-4deg); }
  // 100% { transform: rotate(0deg); }
}
// @keyframes reverseWiggle {
//     0% { transform: rotate(0deg); }
//    25% { transform: rotate(-1deg); }
//    50% { transform: rotate(1deg); }
//    100% { transform: rotate(0deg); }
//   //  85% { transform: rotate(4deg); }
//   //  95% { transform: rotate(-4deg); }
//   // 100% { transform: rotate(0deg); }
// }

.category-list-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0 ;
  height: 60px;
  &:hover {
    cursor: pointer;

  }
}

.category-list-text {
  margin-left: 10px;
  font-family: $secondary-font;
}

.category-list-image {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    margin: 0 0 0 5px;
}

.category-list-category-title {
  font-family: $primary-font;
  font-size: 2em;
  border: 1px solid $badger-black;
  border-radius: 5px;
  background-color: $background-color;
  text-align: center;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;



}

@media screen and (min-width: $break-medium) {

  .category-list-index-0 {
    &:hover {
      background-color: $category-000-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-1 {
    &:hover {
      background-color: $category-100-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-2 {
    &:hover {
      background-color: $category-200-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-3 {
    &:hover {
      background-color: $category-300-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-4 {
    &:hover {
      background-color: $category-400-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-5 {
    &:hover {
      background-color: $category-500-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-6 {
    &:hover {
      background-color: $category-600-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-7 {
    &:hover {
      background-color: $category-700-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-8 {
    &:hover {
      background-color: $category-800-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }

  .category-list-index-9 {
    &:hover {
      background-color: $category-900-color;
      animation: wiggle 1.5s ease-in-out;
    }
  }
}
