//Base styles
.category-image {
  height: auto;
  width: auto;
  max-width: 75px;
  max-height: 75px;
}

.category-individual {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  height: 100px;
  border-bottom: solid 0.5px $badger-white;
}

.category-text {
  margin-left: 10px;
}
