//Font Section
@font-face {
  font-family: 'bebas';
  src: url('../../public/fonts/BebasNeue.otf');
}
@font-face {
  font-family: 'futura';
  src: url('../../public/fonts/futura-condensed-normal.ttf') format('truetype');
}
