#loading-content {
  position: fixed;
  top: 40%;
  left: 45%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  @media screen and (min-width: $break-medium) {
    top: 35%;
    left: 40%;
  }
}

#loading-image {
  height: auto;
  width: auto;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

#loading-div {
  width: 100vw;
  height: 100vh;
}
