// navbar styling
.navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: $primary-font;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.navbar-div ul {
  display: none;
  @media screen and (min-width: $break-medium) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    li {
      float: left;
      color: white;
      text-align: center;
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      color: $badger-black;
      &:hover {
        background-color: #DCF0FF;
      }
    }
  }
}

.navbar-clickable {
  cursor: pointer;
  cursor: hand;
}

#navbar-image {
  max-width: 40px;
  max-height: 40px;
  @media screen and (min-width: $break-medium) {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
  }
}

.hamburger-icon {
  float: right;
  @media screen and (min-width: $break-medium) {
    display: none;
  }
}
// end navbar syling
