//Search section
.search-section {
  width: 100%;
}

.searchInput {
  border: none;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  font-family: $secondary-font;
  border-radius: 2px;
  margin-top: 5vh;
  font-size: 1em;
  &::-webkit-input-placeholder {
    color: lighten($badger-black, 30%) !important;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: lighten($badger-black, 30%) !important;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: lighten($badger-black, 30%) !important;
  }

  &:-ms-input-placeholder {
    color: lighten($badger-black, 30%) !important;
  }
}

.searchButton {
  font-family: $primary-font;
  background-color: $badger-black;
  color: $badger-white;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4em;
  background-color: $button-grey; background-image: -webkit-gradient(linear, left top, left bottom, from($button-grey), to($badger-black));
  background-image: -webkit-linear-gradient(top, $button-grey, $badger-black);
  background-image: -moz-linear-gradient(top, $button-grey, $badger-black);
  background-image: -ms-linear-gradient(top, $button-grey, $badger-black);
  background-image: -o-linear-gradient(top, $button-grey, $badger-black);
  background-image: linear-gradient(to bottom, $button-grey, $badger-black);
}

.advancedSearch{
  width: 100%;
  h4 {
    text-align: center;
    font-family: $primary-font;
  }
  .searchFilters {
    background-color: lighten($background-color, 10%);
    padding: 10px;
    width: 100%;
    border-radius: 2px;
  }
}

.search-filters {
  font-size: 1.2em;
}

.control {
	font-family: $primary-font;
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	left: 0;
	width: 12px;
	height: 12px;
  padding-top: 6px;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: $background-color;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: $badger-white;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator,
.control input:not([checked]) ~ .control__indicator {
	background: $badger-white;
}


/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

// /* Checkbox tick */
// .control--checkbox .control__indicator:after {
// 	top: 4px;
// 	left: 8px;
// 	width: 3px;
// 	height: 8px;
// 	transform: rotate(45deg);
// 	border: solid $badger-black;
// 	border-width: 0 2px 2px 0;
// }

// /* Disabled tick colour */
// .control--checkbox input:disabled ~ .control__indicator:after {
// 	border-color: $badger-white;
// }

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 25%;
	left: 25%;
	width: 5.5px;
	height: 5.5px;
	border-radius: 50%;
	background: $badger-black;
}

/* Disabled circle colour */
// .control--radio input:disabled ~ .control__indicator:after {
// 	background: $badger-white;
// }

// standard search styling
 .standard-search-content {
   font-family: $primary-font;
 }
// end standard search styling


// advanced search styling
.advanced-search-content {
  font-family: $primary-font;
}
// end advanced search styling
