//Variable Section
$background-color: #989DA7;
$badger-black: #000000;
$badger-white: #FFFFFF;
$primary-font: 'bebas';
$secondary-font: 'futura';

$break-small: 320px;
$break-iPhone-plus: 400px;
$break-medium: 750px;
$break-large: 1200px;

$category-000-color: #989DA7;
$category-100-color: #DCF0FF;
$category-200-color: #D0C0D6;
$category-300-color: #CEDFB0;
$category-400-color: #EEC99A;
$category-500-color: #9EBAAC;
$category-600-color: #B5B5CA;
$category-700-color: #FDE192;
$category-800-color: #DBC2CC;
$category-900-color: #D8C2A9;


$category-000-text-color: #4C4C4C;
$category-100-text-color: #0079A5;
$category-200-text-color: #66008D;
$category-300-text-color: #4D782D;
$category-400-text-color: #C97100;
$category-500-text-color: #25895A;
$category-600-text-color: #000073;
$category-700-text-color: #988967;
$category-800-text-color: #76193C;
$category-900-text-color: #985721;
