//Variable Section
$background-color: #989DA7;
$badger-black: #000000;
$badger-white: #FFFFFF;
$primary-font: 'bebas';
$secondary-font: 'futura';


$break-small: 320px;
$break-iPhone-plus: 400px;
$break-medium: 750px;
$break-large: 1200px;
