//Font Section
@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeue.otf');
}
@font-face {
  font-family: 'futura';
  src: url('../fonts/futura-condensed-normal.ttf');
}


//Variable Section
$background-color: #989DA7;
$badger-black: #000000;
$badger-white: #FFFFFF;
$primary-font: 'bebas';
$secondary-font: 'futura';



//Overall Section
body {
  // background-color: #e6ffff;
  // background-color: red;
  padding: 10vw;

  @media only screen and (min-width: 600px) {
      /* For tablets: */
      ;
  }
  @media only screen and (min-width: 768px) {
      /* For desktop: */
      ;
  }

}


//Search section
.searchInput {
  border: none;
  margin: 5px;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  font-family: $secondary-font;
  &::-webkit-input-placeholder {
    color: $badger-black !important;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $badger-black !important;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $badger-black !important;
  }

  &:-ms-input-placeholder {
    color: $badger-black !important;
  }
}

.searchButton {
  font-family: $primary-font;
  background-color: $badger-black;
  color: $badger-white;
  border: none;
  margin: 5px;
  height: 35px;
  width: 100%;
}
















.detail-image {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.list-image {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.hover-hand {
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

html {
  padding: 0;
  margin: 0;
}

.category-div {
  display: inline-block;
  vertical-align: top;
  // width: 20%;
  position: absolute;
  .category-name {
    // transform: rotate(-90deg);
  	// transform-origin: right top 0;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    top:0;
    width:20px;
    height:20px;
  }
}

.detail-body {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
