@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeue.otf');
}
@font-face {
  font-family: 'futura';
  src: url('../fonts/futura-condensed-normal.ttf');
}

$background-color: #989DA7;

body {
  // background-color: #e6ffff;
  // background-color: red;

  @media only screen and (min-width: 600px) {
      /* For tablets: */
      ;
  }
  @media only screen and (min-width: 768px) {
      /* For desktop: */
      ;
  }

}

.detail-image {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.list-image {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.hover-hand {
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

html {
  padding: 0;
  margin: 0;
}

.category-div {
  display: inline-block;
  vertical-align: top;
  // width: 20%;
  position: absolute;
  .category-name {
    // transform: rotate(-90deg);
  	// transform-origin: right top 0;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    top:0;
    width:20px;
    height:20px;
  }
}

.detail-body {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
